<html lang="en">
    <meta charset="utf-8" />
    <title>Room list. Select the view you want to see</title>
    <script src="/js/zepto.min.js"></script>
    <script>
      $(document).on('ready', (evt) => {
        const roomListQuery = () => {
          $.getJSON('/rooms', (data) => {
            const container = document.querySelector('#roomlist');
            const ul = document.createElement('ul');

            // Clean container.
            container.innerHTML = '';

            // Build list of connected users that are doing livestreaming.
            data.forEach((element) => {
              const li = document.createElement('li');
              const url = "/watch/" + element.trim();
              li.innerHTML = "<a href='" + url + "' target='_blank'>" + element + "</a>";
              ul.appendChild(li);
            });

            // if the list is not empty, append it to the container.
            if (ul.children.length > 0)
              container.appendChild(ul);
          });
        };

        roomListQuery();
        setInterval(roomListQuery, 5000);
      });
    </script>
  </head>
  <body>
    <marquee>List updated every 5 seconds</marquee>
    <div id="roomlist">
    </div>
  </body>
</html>
