<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Watch</title>
    <script src="/socket.io/socket.io.js">
    </script>
  </head>
  <body>
    <video autoplay controls></video>
    <h2></h2>
    <script>
      let socket = io();
      let receivedData = 0;

      // if location is /watch/roomId123, then split will generate: ['', 'watch', 'roomId123']
      // TODO: find a MUCH better approach for this gross hack.
      let room;
      const paths = window.location.pathname.split('/');

      if (paths.length === 3) {
        room = paths[2];
      } else {
        room = prompt('Enter room Id');
      }

      // Connect to desired room
      socket.emit('joinRoom', { name: room });

      window.onbeforeunload = () => {
        socket.emit('disconnectViewer', { name: room });
      };

      socket.on('liveEnd', () => {
        document.querySelector('video').pause();
        document.querySelector('video').disabled = true;
        document.querySelector('h2').innerHTML = 'Transmission over';
      });

      socket.on('live', function(data) {
        receivedData += data.byteLength;

        document.querySelector('h2').innerHTML = (receivedData / 1048576.0) + ' megabytes received.';

        let video = document.querySelector('video');
        let ms = new MediaSource();

        ms.addEventListener('sourceopen', function(e) {
          let sourceBuffer = this.addSourceBuffer('video/webm;codecs=opus,vp8');
          sourceBuffer.appendBuffer(data);
        }, false);

        video.src = URL.createObjectURL(ms);
        video.onended = function(e) {
          URL.revokeObjectURL(video.src);
        };

        video.play();
      });
    </script>
  </body>
</html>
